<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>todo app</title>
  </head>
  <body>
    <div class="container">
      <h1>TODO APP</h1>
      <br />
      <br />
      <br />
      <input type="text" name="task" placeholder="Add a task" #task /> <br />
      <br />
      <input type="date" name="date" #date /> <br /><br />
      <button (click)="addTask(task.value, date.value)">Add task</button>
    </div>

    <div>
      <hr /> <br><br>
      <div>
        <h3>Total Tasks: {{ tasks.length }}</h3>
        <div class="container" *ngFor="let task of tasks; let i = index" style="padding: 10px">
          <div>
            {{ task.value }} - {{ task.date }}
             <button class="edit-btn" (click)="removeTask(+i)"> Done✔</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
